<a href="https://colab.research.google.com/github/venkatesh-manikumar/Datascience-Assignments/blob/main/Pandas_test_04_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/drive/MyDrive/DataScience/Auto.csv')

data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

Note: Use automobile dataset for below questions
1. Find the most expensive car company name
2. Count total cars per company
3. Find each company’s highest price car
4. Sort all cars by Price column
5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highway-mpg (miles per gallon)

In [15]:
#1. Find the most expensive car company name
data[data.price == data['price'].max()]

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,45400.0

In [27]:
#2. Count total cars per company
data.make.value_counts().head()

toyota        32
nissan        18
mazda         17
mitsubishi    13
honda         13
Name: make, dtype: int64

In [29]:
#3. Find each company’s highest price car
data.groupby('make').price.max().head()

make
alfa-romero    16500.0
audi           23875.0
bmw            41315.0
chevrolet       6575.0
dodge          12964.0
Name: price, dtype: float64

In [36]:
#4.Sort all cars by Price column
data.sort_values(by=['price'], inplace=True)
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,45400.0
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,16,22,41315.0
73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184.0,4500.0,14,16,40960.0
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207.0,5900.0,17,25,37028.0
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182.0,5400.0,15,20,36880.0

In [46]:
#5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highway-mpg (miles per gallon)

import numpy as np                                                                
data.groupby(by = ['make','fuel_type','body_style']).agg( avg_city_mpg = ('city_mpg',np.mean) , highway_mpg = ('highway_mpg',np.mean) ).reset_index()

           make fuel_type   body_style  avg_city_mpg  highway_mpg
0   alfa-romero       gas  convertible     21.000000    27.000000
1   alfa-romero       gas    hatchback     19.000000    26.000000
2          audi       gas    hatchback     16.000000    22.000000
3          audi       gas        sedan     19.400000    24.400000
4          audi       gas        wagon     19.000000    25.000000
..          ...       ...          ...           ...          ...
61   volkswagen       gas        sedan     25.200000    31.600000
62   volkswagen       gas        wagon     25.000000    31.000000
63        volvo    diesel        sedan     26.000000    27.000000
64        volvo       gas        sedan     20.428571    25.571429
65        volvo       gas        wagon     21.333333    26.000000

[66 rows x 5 columns]

In [41]:
data.columns

Index(['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
       'num_doors', 'body_style', 'drive_wheels', 'engine_location',
       'wheel_base', 'length', 'width', 'height', 'curb_weight', 'engine_type',
       'num_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
       'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg',
       'highway_mpg', 'price'],
      dtype='object')